{% load staticfiles %}



<div class="section section-clients-2" id="clients">
                <div class="container">
                    <div class="title add-animation animate">
                        <h2>What people think...</h2>
                        <div class="separator-container">
                            <div class="separator line-separator">∎</div>
                        </div>
                    </div>
                    <div class="tab-content quotes add-animation animation-2 animate">
                        <div class="tab-pane active" id="intel">
                            <p class="large">Hi, your site and all the stuff on it looks simply awesome, thank's for sharing. Love this. Greetings from Germany!</p>
                        </div>
                    </div>
                </div>
            </div>





<!--team member introduce -->


<div class="section section-team-2" id="team">
                <div class="container">
                    <div class="text-area">
                        <div class="title add-animation animate">
                            <h2>Meet our Team</h2>
                            <div class="separator-container">
                                <div class="separator line-separator">∎</div>
                            </div>

                        </div>
                    </div>
                    <div class="team">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="member add-animation animation-1 animate">
                                    <img class="img-circle" src="{% static 'about/member2.jpg' %}">
                                    <div class="description">
                                        <h3 class="big-text">Ulrica wang</h3>
                                        <br>
                                        <p class="small-text">Cristina is one of the co-founders and takes care of growth, product development and partnerships. She is analytical, driven and adapts easily to new conditions, while trying to keep everyone on track.
                                        </p>
                                    </div>
                                    <div class="social-buttons hidden-xs">
                                       <a target="_blank" href="https://twitter.com/conacelelena" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=250414665&amp;trk=hp-identity-photo" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="member add-animation animation-4 animate">
                                    <img class="img-circle" src="{% static 'about/member1.jpg' %}">
                                    <div class="description">
                                        <h3 class="big-text">Sunny sun</h3>
                                        <br>
                                        <p class="small-text">Beni is the guy responsible for keeping the platform in check, improving its functionality and adding new features. He is driven, always open for learning more, friendly and a fan of Ruby on Rails.
                                        </p>
                                    </div>

                                    <div class="social-buttons hidden-xs">
                                       <a target="_blank" href="https://twitter.com/marcu_beniamin" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="#" class="btn btn-social btn-linkedin btn-simple"><i class="fa fa-linkedin-square"></i></a>
                                        <a target="_blank" href="https://www.facebook.com/beniamin.marcu.1?fref=ts" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<!-- detail contact block-->

<div class="section-content">
    <div class="section-contact">
        <div class="container">
            <div class="text-area terms-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                               <h1>Contact Us</h1>
                               <h4>Get in touch and let us know how we can help.</h4>
                        </div>
                    </div>
            </div>
            <div class="contact-form">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="address terms-content">
                            <h3>We're legit</h3>
                            <p class="text-gray">
                                Creative Code SRL<br>
                                RO 32193813<br>
                                J27/531/30.08.2013
                            </p>
                            <h3>Give us a call</h3>
                            <p class="text-gray">+40 / 746 461 075</p>
                            <h3>Send us a note</h3>
                            <a href="mailto:business@ialphastudio.com">
                            <p class="text-gray">business@ialphastudio.com</p>
                            </a>                     
                        </div>
                      </div>
                      <div class="col-md-8 col-md-offset-1">
			{% if send_success %}
			   <p>{{send_success}}</p>
			{% endif %}
                        <form class="space-top-20" action="/contact/" accept-charset="UTF-8" method="post">
			    {% csrf_token %}
                            <div class="form-group">
			      {% if name_error %}
				<em>{{name_error}}</em>
			      {% endif %}
                              <input type="text" name="name" id="name" class="form-control" placeholder="Your Name">           
                            </div>
                            <div class="form-group">
			      {% if email_error %}
				<em>{{email_error}}</em>
			      {% endif %}
                              <input type="text" name="email" id="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="form-group">
			      {% if contact_details_error %}
				<em>{{contact_details_error}}</em>
			      {% endif %}
                                 <textarea rows="8" class="form-control" name="contact_details" placeholder="You can write your message here..." id="text_content"></textarea> 
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 contact-submit">
                                    <input type="submit" name="commit" value="Send" class="btn btn-info btn-fill btn-lg pull-right">
                                </div>
                            </div>
    
</form>                      </div>
                    </div>
                </div>
        </div>
    </div>
</div>
