{% load staticfiles %}
{% if id %}
{% ifequal id "3d" %}
<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Game Scenes Models <span class="text-muted"></span></h2>
          <p class="lead">designed with speedtree, can simulate real enviroment game scenes</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/3d_case1.jpg' %}" alt="Generic placeholder image">
        </div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Car models <span class="text-muted"></span></h2>
          <p class="lead">created with maya2014, designed for 3d game on laptop. has less than 5 thousands polygons</p>
        </div>
        <div class="col-md-5 col-md-pull-7 col-padding-left">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/3d_case2.jpg' %}"  alt="Generic placeholder image">
        </div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">ZBrush High Resolutions Models <span class="text-muted"></span></h2>
          <p class="lead">designed with ZBrush and drawed with graphics tablet, very high resolution used for animations</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/3d_case3.jpg' %}"  alt="Generic placeholder image">
        </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">High Resolution gun models<span class="text-muted"></span></h2>
          <p class="lead">designed with maya2014 and created looks like a real gun, used for game</p>
        </div>
        <div class="col-md-5 col-md-pull-7 col-padding-left">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/3d_case4.jpg' %}"  alt="Generic placeholder image">
        </div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Animal 3D models <span class="text-muted"></span></h2>
          <p class="lead">Monkey cartoon models created with maya2014 and used for china cartoon animation named 'Candy City'</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/3d_case5.jpg' %}"  alt="Generic placeholder image">
        </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Character 3D Models <span class="text-muted"></span></h2>
          <p class="lead">Woman character models created by maya2014 and  used in games</p>
        </div>
        <div class="col-md-5 col-md-pull-7 col-padding-left">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/3d_case6.jpg' %}"  alt="Generic placeholder image">
        </div>
</div>

<hr class="featurette-divider">



{% endifequal %}


{% ifequal id "it" %}
<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Curve iOS application develpment<span class="text-muted"></span></h2>
          <p class="lead">This application is developed for fincial hedge fund, used to monitor fincial indicator and stock changes. has used many open source technology in development</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/it_case1.jpg' %}"  alt="Generic placeholder image">
        </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Website development <span class="text-muted"></span></h2>
          <p class="lead">This website is development for micropower offical website, mainly used html css javascript technology. the total website is designed by us include graphics</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'cases/it_case2.jpg' %}" alt="Generic placeholder image">
        </div>
</div>

<hr class="featurette-divider">

{% endifequal %}

{% endif %}
