
<div class="col-md-2 col-sm-2 hidden-xs">
	<div class="sidebar affixable affix-top" data-offset-top="190">
		<div>
			<a class="btn btn-link" href="{% url 'profiling:user_profile' %}?tab=basic">Account</a>
		</div>
		<div>
			<a class="btn btn-link" href="{% url 'profiling:user_profile' %}?tab=changepassword">Change Password</a>
		</div>
                <div>
			<a class="btn btn-link" href="{% url 'profiling:user_profile' %}?tab=resetpassword">Reset Password</a>
		</div>
		<div>
			<a class="btn btn-link" href="{% url 'profiling:user_profile' %}?tab=logout">Logout</a>
		</div>
	</div>
</div>

