{% block main-setting %}
<section id="main-settings">
	<div class="container">
		<form class="simple_form form-horizontal" role="form" id="profile-form" novalidate="novalidate" enctype="multipart/form-data" action="/settings" accept-charset="UTF-8" method="post">
			<input name="utf8" type="hidden" value="✓">
			<input type="hidden" name="_method" value="patch">
			<input type="hidden" name="authenticity_token" value="AY9EonvKEqwpAm87FyOsloGsyCHghRxVSmhqI3REmxbrZADKb4Ebl63mOhgG8XEvt9EiGK/7kY6N4Nvp/Eg5ZQ==">
			<div class="row">
				<div class="col-md-2 col-sm-2 hidden-xs">
					<div class="sidebar affixable affix-top" data-offset-top="190">
						<div>
							<a class="btn btn-link" href="{% url 'profiling:user_profile' %}?tab=1">Account</a>
						</div>
						<div>
							<a class="btn btn-link" href="{% url 'profiling:user_profile' %}?tab=2">Change Password</a>
						</div>
						<div>
							<a class="btn btn-link" href="{% url 'profiling:user_profile' %}?tab=3">Logout</a>
						</div>
					</div>
				</div>
				<div class="col-md-10 col-sm-9">
				{% if tab %}
					{% ifequal tab  "1" %}
						{% include 'accounts/panel_account.html' %}
					{% endifequal %}
					{% ifequal tab  "2" %}
						{% include 'accounts/panel_changepassword.html' %}
					{% endifequal %}
				{% else %}
					{% include 'accounts/panel_account.html' %}
				{% endif %}
				</div>
			<div class="form-group">
				<div class="col-sm-12 buttons">
					<input type="submit" name="commit" value="Save Settings" class="btn btn btn-primary">
				</div>
			</div>
		</div>
	</div>
</form>
</div>
</section>


{% endblock %}
