{% load staticfiles %}
{% load profile_extras %}
<form class="simple_form form-horizontal" role="form" novalidate="novalidate" enctype="multipart/form-data" action="{% url 'profiling:updateprofile' %}" accept-charset="UTF-8" method="post">
		{% csrf_token %}
		{% if redirect_field_value %}
			<input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
		{% endif %}
		<div class="row">
		{% include 'accounts/left_column.html' %}
			<div class="col-md-10 col-sm-9">
				<div class="panel panel-default" id="account">
					<div class="panel-heading">Account</div>
					<div class="panel-body">
							<div class="form-group">
								<label class="col-sm-3 control-label user-avatar">
									<img src="{{user.id|file_exists}}" alt="">
								</label>
								<div class="col-sm-7 user-avatar user-img control-group">
									<div class="control-group file optional user_avatar hide">
										<div class="controls">
											<input id="avatar-input" class="file optional" type="file" name="avatar">
										</div>
									</div>
									<div class="input-group">
										<input class="form-control" id="avatar-display" readonly="true" type="text" value="">
											<a class="btn btn-info input-group-addon" id="avatar-file-upload">
												<i class="fa fa-upload"></i> Browse
											</a>
									</div>
								{% if avatar_error %}
								  {% for e in avatar_error %}
								  <p>{{e}}</p>
								  {% endfor %}
								{% endif %}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Username:</label>
								<div class="col-sm-7">
									<div class="control-group string required user_username">
										<div class="controls">
											<input class="string required form-control" autofocus="autofocus" placeholder="User display name" type="text" value="{{user_displayname}}" name="display_username" id="id_username">
										</div>
									</div>
								</div>
								{% if display_username_error %}
								  {% for e in display_username_error %}
								  <p>{{e}}</p>
								  {% endfor %}
								{% endif %}
							</div>
							<!---
							<div class="form-group">
								<label class="col-sm-3 control-label">Email:</label>
								<div class="col-sm-7">
									<div class="control-group email required user_email">
										<div class="controls">
											<input class="string email required form-control" placeholder="user@domain.com" type="email" value="" name="user_email" id="user_email">
										</div>
									</div>
								</div>
							</div>
							-->
							<div class="form-group">
								<label class="col-sm-3 control-label">Phone Number:</label>
								<div class="col-sm-7"><div class="control-group string required user_full_name">
									<div class="controls">
										<input class="string required form-control" placeholder="Your contact phone number" type="text" name="phone" value="{{user_phone}}" id="id_phone">
									</div>
								</div>
								{% if phone_error %}
								  {% for e in phone_error %}
								  <p>{{e}}</p>
								  {% endfor %}
								{% endif %}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Location*:</label>
							<div class="col-sm-7">
								<div class="control-group string required user_location">
									<div class="controls">
										<input class="string required form-control" placeholder="Location" type="text" name="location" value="{{user_location}}" id="id_location">
									</div>
								</div>
							</div>
								{% if location_error %}
								  {% for e in location_error %}
								  <p>{{e}}</p>
								  {% endfor %}
								{% endif %}
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Your interest*:</label>
							<div class="col-sm-7">
								<div class="control-group text optional user_about">
									<div class="controls">
										<textarea class="text optional form-control" rows="5" placeholder="Input your interested business part, example: 3d model!" name="interest" value="" id="id_interest">{{user_interest}}</textarea>
									</div>
								</div>
							</div>
								{% if interest_error %}
								  {% for e in interest_error %}
								  <p>{{e}}</p>
								  {% endfor %}
								{% endif %}
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Gender:</label>
							<div class="col-sm-7">
								<div class="control-group select optional user_gender">
									<div class="controls">
										<select class="select optional form-control" name="gender" id="id_gender">
											<option value="UN">Unknown</option>
											<option value="MA">Male</option>
											<option value="FE">Female</option>
										</select>
									</div>
								</div>
							</div>
								{% if gender_error %}
								  {% for e in gender_error %}
								  <p>{{e}}</p>
								  {% endfor %}
								{% endif %}
						</div>
					</div>
				</div>
			</div>
                        <div class="form-group">
                                <div class="col-sm-12 buttons">
					<input type="submit" name="commit" value="Save Settings" class="btn btn btn-primary">
                                </div>
                        </div>
                </div>
        </div>
</form>


