				<div class="panel panel-default" id="password">
					<div class="panel-heading">Reset Password</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-sm-7 col-sm-offset-3">
						    {% if messages %}
							{% for message in messages %}
							  <em>{{message}}</em>
							{% endfor %}
						    {% else %}
							{% if errors %}
								{% for error in errors %}
									<em>{{error}}</em>
								{% endfor %}
							{% else %}
								<em>Enter your email address to reset your password</em>
							{% endif %}
						    {% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Reset Password:</label>
						<div class="col-sm-7">
							<div class="control-group password optional user_password_confirmation">
								<div class="controls">
									<input class="password optional form-control" type="email" name="email" id="id_email" placeholder = "E-mail address">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

