{% extends 'accounts/profile_base.html' %}

{% block profile_header %}
    {% include 'index/header.html' %}
    {% include 'accounts/profile_header.html' %}
{% endblock %}

{% block navbar %}
    {% include 'index/navbar.html' %}
{% endblock %}

{% block top-wrapper %}
    {% include 'accounts/top-wrapper.html' %}
    {% include 'accounts/main-setting.html' %}
{% endblock %}

{% block footer %}
    {% include 'index/footer.html' %}
{% endblock %}

{% block footloader %}
    {% include 'index/footloader.html' %}
{% endblock %}
