{% block footer %}
{% load staticfiles %}
       <div id="last-three" class="footer stripe">
           <div class="container">
               <div class="row">
                   <div class="col-sm-12">
		       <h2>Follow Us</h2>
                       <div class="col-xs-6 col-sm-3 col-md-2 col-sm-push-3 col-md-push-4">
                           <div class="ticket type2">
                               <a href="https://twitter.com/ialphastudio">
                                   <div class="title"><i class="fa fa-twitter"></i></div>
                                   <hr>
                               </a>
                           </div>
                       </div>
                       <div class="col-xs-6 col-sm-3 col-md-2 col-sm-push-3 col-md-push-4">
                           <div class="ticket type3">
                               <a href="https://plus.google.com/u/0/+OvervIo">
                                   <div class="title"><i class="fa fa-google-plus"></i></div>
                                   <hr>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
      <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><img src="{% static 'index/logo-nav.png' %}" alt="ialphastudio.com" class="img-responsive"></p>
                    <p>Copyright © 2013 - 2016 <a href="http://www.ialphastudio.com/">iAlphaStudio Software</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
      </footer>
{% endblock %}
