{% block footer %}
{% load staticfiles %}
      <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><img src="{% static 'index/logo-nav.png' %}" alt="ialphastudio.com" class="img-responsive"></p>
                    <p>Copyright © 2013 - 2016 <a href="http://www.ialphastudio.com/">iAlphaStudio Software</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
      </footer>
{% endblock %}
