{% block grids %}
{% load staticfiles %}
<div class="row gridrow">
   <div id="theGrid" class="col-xs-12 grid">
	<div class="grid-item grid1 wow fadeIn">
	  <a href="{% url 'cases' %}?id=it">
 	    <span class="desc">
	        <h1>iOS development</h1>
		<h2>swift language</h2>
	    </span>
 	    <span class="g1-view inactive_t1">
		<p>Let us know your requirement ></p>
	    </span>
 	    <span class ="g1-bg">
		<img src="{% static 'index/grid1-bg.png' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid2 wow fadeIn">
	  <a href="#">
	    <span class="g2-view inactive_t5"></span>
	    <span class="g2-bg">
		<img class="g2-bg-img" src="{% static 'index/grid2-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid3 wow fadeIn">
	  <a href="{% url 'about_us' %}">
	    <span class="g3-view inactive_t5"></span>
	    <span class="g3-bg">
		<img src="{% static 'index/grid3-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid4 wow fadeIn">
	  <a href="#">
	    <span class="g4-bg">
		<img class="g4-bg-img" src="{% static 'index/grid4-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid5 wow fadeIn">
	  <a href="{% url 'about_us' %}">
	    <span class="g5-view inactive_t5"></span>
	    <span class="g5-bg">
		<img src="{% static 'index/grid5-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid6 wow fadeIn">
	  <a href="{% url 'cases' %}?id=it">
	    <span class="g6-view inactive_t5">
	    </span>
	    <span class="g6-bg">
		<img src="{% static 'index/grid6-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid7 wow fadeIn">
	  <a href="{% url 'cases' %}?id=3d">
	    <span class="g7-bg">
		<img class="g7-bg-img" src="{% static 'index/grid7-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid8 wow fadeIn">
	  <a href="{% url 'cases' %}?id=3d">
	    <span class="g8-bg">
		<img class="g8-bg-img" src="{% static 'index/grid8-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid9 wow fadeIn">
	  <a href="{% url 'about_us' %}">
	    <span class="desc">
		<!--
		<h2>Photoshop</h2>
		<h3>Illustrator</h3>
		<h2>Graphic design ,vector graphic</h2>
		-->
	    </span>
 	    <span class="g9-notes inactive_t3">
		want to know us? >
	    </span>
	    <span class="g9-view inactive_t2">
	    </span>
	    <span class="g9-bg">
		<img src="{% static 'index/grid9-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid10 wow fadeIn">
	  <a href="{% url 'cases' %}?id=3d">
	    <span class="desc">
		<h2>Unity3D game</h2>
		<h3>scene design</h3>
	    </span>
	    <span class="g10-view inactive_t5">
	    </span>
	    <span class="g10-bg">
		<img src="{% static 'index/grid10-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid11 wow fadeIn">
	  <a href="{% url 'cases' %}?id=3d">
	    <span class="desc">
		<h2>ZBrush</h2>
		<h3>Artist level</h3>
		<h3>Game models</h3>
	    </span>
	    <span class="g11-notes inactive_t4">
	       know detail >
	    </span>
	    <span class="g11-view inactive_t2">
	    </span>
	    <span class="g11-bg">
		<img src="{% static 'index/grid11-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid12 wow fadeIn">
	    <span id="g12-video">
	    </span>
	    <span class="g12-bg">
		<img src="{% static 'index/grid2-bg.png' %}">
	    </span>
	</div>
	<div class="grid-item grid13 wow fadeIn">
	  <a href="{% url 'cases' %}?id=3d">
	    <span class="desc">
	      <h2>Maya</h2>
	      <h2>3D Max</h2>
	    </span>
	    <span class="g13-view">
	    </span>
	    <span class="g13-bg">
		<img src="{% static 'index/grid13-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid14 wow fadeIn">
	  <a href="{% url 'cases' %}?id=it">
	    <span class="g14-bg">
		<img class="g14-bg-img" src="{% static 'index/grid14-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid15 wow fadeIn">
	  <a href="{% url 'cases' %}?id=it">
	    <span class="g15-view">
	    </span>
	    <span class="g15-bg">
		<img src="{% static 'index/grid15-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid16 wow fadeIn">
	  <a href="mailto:business@ialphastudio.com">
	    <span class="g16-bg">
		<img class="g16-bg-img" src="{% static 'index/grid16-bg.jpg' %}">
	    </span>
	  </a>
	</div>
	<div class="grid-item grid17 wow fadeIn">
	  <a href="{% url 'cases' %}?id=it">
	    <span class="desc">
		<h2>iOS fincial App</h2>
	    </span>
	    <span class="g17-view">
	    </span>
	    <span class="g17-bg">
		<img src="{% static 'index/grid17-bg.jpg' %}">
	    </span>
	  </a>
	</div>
   </div>
</div>
{% endblock %}
