{% extends 'index/index_base.html' %}


{% block index_header %}
    {% include 'index/header.html' %}
{% endblock %}

{% block navbar %}
    {% include 'index/navbar.html' %}
{% endblock %}

{% block carousel %}
    {% include 'index/carousel.html'  %}
{% endblock %}

{% block footer %}
    {% include 'index/footer.html' %}
{% endblock %}

{% block footloader %}
    {% include 'index/footloader.html' %}
{% endblock %}

{% block index_footloader %}
    {% include 'index/index_footloader.html' %}
{% endblock %}
