<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
  {% block index_header %}
  {% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    {% block navbar %}
    {% endblock %}

    {% block carousel %}
    {% endblock %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
	   <div id="stick1" class="images">
                  <div class="bg">
                      <img src="{% static 'index/issue-estimate.png' %}" alt="">
                  </div>
                  <div id="stick1fgimg" class="fg inactive">
                      <img src="{% static 'index/issue-estimate-fg.png' %}" alt="" class="stopwatch">
                  </div>
           </div>
          <h2>On Time</h2>
          <p>Project time is limited? we are excellent team and we also have many backup memebers to make sure we can deliver project on time!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
	   <div id="stick2" class="images">
                  <div class="bg">
                      <img src="{% static 'index/issue-attachments.png' %}" alt="">
                  </div>
                  <div id="stick2fgimg" class="fg inactive">
                      <img src="{% static 'index/issue-attachments-fg.png' %}" alt="" class="quality1">
                      <img src="{% static 'index/issue-attachments-fg-2.png' %}" alt="" class="quality2">
                      <img src="{% static 'index/issue-attachments-fg-3.png' %}" alt="" class="quality3">
                  </div>
           </div>
          <h2>High Quality</h2>
          <p>We have our own test model on every project, before deliver every version we will run our test model to make sure there is no big problem in product!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
	   <div id="stick3" class="images">
                  <div class="bg">
                      <img src="{% static 'index/issue-collaborate.png' %}" alt="">
                  </div>
                  <div id="stick3fgimg" class="fg inactive">
                      <img src="{% static 'index/issue-collaborate-fg.png' %}" alt="" class="collaborate">
                  </div>
           </div>
          <h2>Collaborate</h2>
          <p>We collaborate with customer closely,try our best to understand customer requirement and tell customer what we can do and what we can not do !</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      {% block grids %}
      {% endblock %}

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
	  <div id="introduce1"></div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      {% block footer %}
      {% endblock %}

    </div><!-- /.container -->

    {% block footloader %}
    {% endblock %}

    {% block index_footloader %}
    {% endblock %}
  </body>
</html>
