{% block register_form %}
{% load staticfiles %}
{% load account %}
<section data-bg="{% static 'register/register-background.jpeg' %}" id="auth-bg-wrapper" class="bg-on" style="background-image: url({% static 'register/register-background.jpeg' %});">
</section>
<div id="auth-form-wrapper">
      <a href="{% url 'index:index' %}">
        <div class="logo-wrapper">
          <div class="base">
          </div>
          <div class="logo">
          </div>
       </div>
      </a>
      <form class="simple_form form-signin" novalidate="novalidate" id="new_user" action="{% url 'account_login' %}" accept-charset="UTF-8" method="post">
	  {% csrf_token %}
          <h1>iAlphaStudio</h1>
          {% if form.non_field_errors %}
	    {% for error in form.non_field_errors %}
	      <h2 class="quote">{{error}}</h2>
	    {% endfor %}
	  {% endif %}
	  {% if form.username.errors %}
	    {% for error in form.username.errors %}
	      <h2 class="quote">{{error}}</h2>
	    {% endfor %}
	  {% endif %}
	  {% if form.password.errors %}
	    {% for error in form.password.errors %}
	      <h2 class="quote">{{error}}</h2>
	    {% endfor %}
	  {% endif %}
          {% if imageVerifyError %}
             <h2>{{imageVerifyError}}</h2>
          {% endif %}
          <div class="form-inputs with-icons">
            <div class="with-icon">
               <div class="icon fa fa-user">
               </div>
               <div class="control-group string required user_username">
                  <div class="controls">
                     <input class="string required middle form-control" autocorrect="off" autocapitalize="off" placeholder="Username" type="text" name="login" id="user_username">
                  </div>
               </div>
            </div>
            <div class="with-icon">
               <div class="icon fa fa-lock">
               </div>
               <div class="control-group password required user_password">
                    <div class="controls">
                          <input class="password required middle form-control" placeholder="Password" type="password" name="password" id="user_password">
			  {% if redirect_field_value %}
			    <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
			  {% endif %}
                    </div>
               </div>
            </div>
	    <div class="with-icon imageVerifyBlock" >
               <div class="icon fa fa-check">
               </div>
               <div class="control-group string required imageVerify">
                  <div class="controls">
		     <div class="imageVerifyField">
                        <input class="string required middle form-control"  placeholder="verify code" type="text" name="imageVerify">
		     </div>
		     <div class="imageVerifyImg">
			<img class="form-control signinImgVerify"  src="/accounts/captcha/">
		     </div>
                  </div>
               </div>
	    </div>
          </div>
          <div class="form-actions">
              <input type="submit" name="commit" value="Login" class="btn btn btn-primary btn-block">
          </div>
          <div class="auth-services">
             <div class="row">
                <div class="col-xs-4">
                   <a href="/auth/auth/twitter">
                      <div class="btn btn-block btn-twitter">
                        <div class="fa fa-twitter">
                        </div>
                      </div>
                   </a>
                </div>
                <div class="col-xs-4">
                   <a href="/auth/auth/facebook">
                      <div class="btn btn-block btn-facebook">
                        <div class="fa fa-facebook">
                        </div>
                      </div>
                   </a>
                </div>
                <div class="col-xs-4">
                   <a href="/auth/auth/google_oauth2">
                      <div class="btn btn-block btn-google-plus">
                        <div class="fa fa-google-plus">
                        </div>
                      </div>
                   </a>
                </div>
              </div>
           </div>
    </form>
    {% if form.non_field_errors %}
        <div class="bottom-wrapper"><a href="{% url 'profiling:user_resetpassword' %}">Forgot password ?<span class="trakt-icon-arrow-right"></span></a>
	</div>
    {% else %}
    <div class="bottom-wrapper">Not a member? <a href="{% url 'register:register' %}">Signup now <span class="trakt-icon-arrow-right"></span></a>
    </div>
    {% endif %}
</div>
{% endblock %}
