/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

/* Flip around the padding for proper display in narrow viewports */
.dd{
  position:fixed;
  width:100%;
  left:0;
  padding:20px 3%;
  background-color:#00b5ec;
  visibility:hidden;
}

.dd-visible{
  visibility:visible;
}

.dd ul{
  position:relative;
  float:left;
  margin:0 26px;
  color:white;
}

.list-unstyled{
  list-style:none;
  padding-left:0;
}

.list-unstyled > li{
  float:left;
  padding:15px;
  font-family:slim-joe;
  font-size:18px;
  font-weight:bold;
}

.container {
  padding-right: 0;
  padding-left: 0;
  width:auto;
}
.navbar {
  min-height:70px;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar .container {
  width: auto;
}

.navbar-inverse {
  background-color:#00b5ec;
  border-color:black;
  padding-top:0px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: all 1s;
}

.navbar-inverse .navbar-brand{
  color:white;
  float:right;
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
  font-family:slim-joe;
  font-size:18px;
  font-weight:bold;
}

.navbar-transparent {
  background-color:transparent;
  padding-top:15px;
  border-bottom: 1px solid transparent;
  transition: all 1s;
}

.navbar-default-padding{
 padding:0px;
}

.navbar-left-padding {
 padding-left: 180px;
}

.navbar-left-padding img{
 width:60px;
 height:60px;
 margin-right:15px;
}

.navbar-right-padding {
 padding-right: 180px;
}

.navbar-nav>li>a {
 padding-top: 25px;
 padding-bottom: 25px;
}

.navbar-nav>li>a img{
 width:35px;
 height:35px;
 border-radius:50%;
}

.navbar-brand {
 height:60px;
 padding-top:25px;
 padding-bottom:25px;
 font-family:slim-joe;
 font-size:35px;
 font-weight:bold;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 800px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carouselOne{
  padding-left:450px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 800px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 800px;
}

.carousel-caption{
 padding-bottom:260px;
}

@font-face {
	font-family: 'slim-joe';
	src:url('../assets/fonts/Slim-Joe.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: 300;
  color:#00b5ec;
  font-size:3vh;
}

.marketing .col-lg-4 .images{
  height:240px;
  width:240px;
  margin:0 auto;
  position:relative;
}

.marketing .col-lg-4 .images .bg img{
  height:240px;
  width:240px;
}

.marketing .col-lg-4 .images .fg img{
  left:0px;
  position:absolute;
  top:0px;
  height:240px;
  width:240px;
}

.marketing .col-lg-4 .images .inactive img{
 opacity:0;
 -webkit-transition:opacity 0.5s, -webkit-transform 0.5s;
 transition:opacity 0.5s,transform 0.5s;
}


.marketing .col-lg-4 .images .active img{
 opacity:1 !important;
 -webkit-transform:none !important;
 transform:none !important;
}

.marketing .col-lg-4 p {
  margin-right: 60px;
  margin-left: 60px;
  color:#7e8ab0;
  font-size:18px;
}

.stopwatch{
 transform:rotate3D(0, 0, 1, 5deg) translate3D(1vw, 0, 0);
 -webkit-transform:rotate3D(0, 0, 1, 5deg) translate3D(1vw, 0, 0);
}

.quality1{
-webkit-transform: rotate3D(0, 0, 1, -5deg) scale(1.1, 1.1) translate3D(2vw, 0, 0);
  transform: rotate3D(0, 0, 1, -5deg) scale(1.1, 1.1) translate3D(2vw, 0, 0);
}

.quality2{
-webkit-transform: translate3D(0, -1.5vw, 0);
  transform: translate3D(0, -1.5vw, 0);
}

.quality3{
-webkit-transform: rotate3D(0, 0, 1, -10deg) scale(1.2, 1.2);
  transform: rotate3D(0, 0, 1, -10deg) scale(1.2, 1.2);
}

.collaborate{
-webkit-transform: rotate3D(0, 0, 1, 2deg) scale(1.5, 1.5) translate3D(0, -1vw, 0);
  transform: rotate3D(0, 0, 1, 2deg) scale(1.5, 1.5) translate3D(0, -1vw, 0);
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

#introduce1{
	margin-left:auto;
	margin-right:auto;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*footer begin*/

.footer{
 background:#e6e7e7;
 overflow:hidden;
 padding:5px 0 0;
 text-align:center;
}

.footer .col-md-push-4{
  left:40%;
}

.footer h2{
 color:white;
 font-size:23px;
 font-weight:300;
 text-align:center;
}

.footer .col-md-2{
  width:200px;
  padding-right:10px;
}

.footer .ticket.type2{
 background:#00b5ec;
 color:#ffffff;
 margin-top:50px;
}

.footer .ticket.type3{
 background:#ef5c4c;
 color:#ffffff;
 margin-top:50px;
}

.footer .ticket{
 width:150px;
}

.footer .ticket a{
 color:#fff;
 display:block;
 padding:1em;
}

.footer .ticket hr{
  color:rgba(255,255,255,0.6);
  margin:0 0 0px;
}

footer{
 color:#00b5ec;
 padding:5vh 0;
 text-align:center;
 font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
}

footer .img-responsive{
 margin:0 auto;
}

footer p{
 font-size:16px;
}

footer a{
 color:#00b5ec;
 text-decoration:none;
}

/*footer end*/

/*begin grids*/
.gridrow{
  max-width:1280px;
  margin:0 auto;
}

.grid{
 padding:0px;
 overflow:hidden;
 transition:all .3s ease-in-out,height .5s ease-in-out;
 -webkit-backface-visibility:hidden;
 width:100%;
 max-width:1280px;
 margin:0 auto;
}


.grid .grid-item a{
 overflow:hidden;
 height:100%;
 width:100%;
 text-decoration:none;
}

.grid .grid1{
 width:50%;
}

.grid1 .desc{
  float:left;
  width:50%;
  padding:0 0 0 40px;
  position:relavtive;
  top:50%;
}

.grid1 .desc h1{
 font-size:18px;
 color:#36a840;
 padding-top:10px;
}
.grid1 .g1-view{
  position:absolute;
  right:0;
  bottom:0;
  width:100%;
  color:white;
  background-color:black;
  transition:all .3s;
}

.grid .inactive_t1{
  height:0px;
}

.grid .active_t1{
  height:75px;
}

.grid .inactive_t2{
  height:0px;
  z-index:0;
}

.grid .active_t2{
  height:75px;
  z-index:998;
}

.grid1 .g1-view p{
  padding-top:25px;
  padding-left:40px;
}

.grid1 .g1-bg{
  float:right;
  width:320px;
  max-width:50%;
  height:100%;
  background:transparent;
  text-align:right;
}

.grid1 .g1-bg img{
 display:block;
 height:100%;
 width:100%;
 position:relative;
}

.grid .grid2,.grid .grid3,.grid .grid4,.grid .grid5,.grid .grid6,.grid .grid7,.grid .grid8,.grid .grid10,.grid12,.grid13,.grid14,.grid15,.grid16,.grid17{
 width:25%;
 overflow:hidden;
}

.grid2 .g2-bg,.grid3 .g3-bg,.grid4 .g4-bg,.grid5 .g5-bg,.grid6 .g6-bg,.grid7 .g7-bg,.grid8 .g8-bg,.grid10 .g10-bg,.grid12 .g12-bg,.grid13 .g13-bg,.grid14 .g14-bg,.grid15 .g15-bg,.grid16 .g16-bg,.grid17 .g17-bg{
 width:100%;
 height:100%;
}

.grid2 .g2-view{
 width:100%;
 height:100%;
 position:absolute;
 right:0;
 bottom:0;
 transition:all .3s;
 z-index:1;
}

.grid .inactive_t5{
 background-color:rgba(0,0,0,0);
}

.grid .active_t5{
 background-color:rgba(0,0,0,0.3);
}

.grid .grid2 img,.grid .grid3 img,.grid .grid4 img,.grid .grid5 img, .grid .grid6 img,.grid .grid7 img,.grid .grid8 img,.grid .grid10 img,.grid .grid12 img,.grid .grid13 img,.grid .grid14 img,.grid .grid15 img,.grid .grid16 img,.grid .grid17 img{
 display:block;
 height:100%;
 width:100%;
 position:relative;
 top:0;
}

.grid .grid9{
 width:50%;
}

.grid9 .g9-view{
  position:absolute;
  right:0;
  bottom:0;
  width:100%;
  color:white;
  background-color:white;
  transition:all .3s;
}

.grid9 .desc{
  float:left;
  width:50%;
  padding:0 0 0 40px;
  position:absolute;
  top:0;
  z-index:999;
}

.grid9 .desc h2{
  color:white;
  font-size:22px;
}

.grid9 .desc h3{
  color:white;
  font-size:18px;
}

.grid9 .g9-notes{
  float:left;
  width:50%;
  position:absolute;
  bottom:0;
  left:0;
  padding-left:20px;
  padding-bottom:25px;
  z-index:999;
}

.grid .active_t3{
 color:red;
}

.grid .inactive_t3{
 color:white;
}


.grid9 .g9-bg{
 width:100%;
 height:100%;
 display:block;
}

.grid9 .g9-bg img{
 width:100%;
 height:100%;
 display:block;
 top:0;
 position:relative; 
}

.grid .grid11{
 width:25%;
}

.grid11 .desc{
  float:left;
  width:100%;
  padding:0 0 0 40px;
  position:absolute;
  top:40%;
  z-index:999;
}

.grid11 .desc h2{
  color:white;
  font-size:25px;
}

.grid11 .desc h3{
  color:yellow;
  font-size:20px;
}

.grid11 .g11-notes{
  float:left;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  text-align:center;
  padding-left:20px;
  padding-bottom:25px;
  z-index:999;
}

.grid11 .g11-view{
  position:absolute;
  right:0;
  bottom:0;
  width:100%;
  color:white;
  background-color:white;
  transition:all .3s;
}


.grid .active_t4{
 color:black;
}

.grid .inactive_t4{
 color:white;
}

.grid11 .g11-bg{
 width:100%;
 height:100%;
 display:block;
}

.grid11 .g11-bg img{
 width:100%;
 height:100%;
 display:block;
 top:0;
 position:relative;
}
/*end grids*/

